li.nav{
	color: #efefef;
	padding:10px;
	display: inline;
	border-style: solid;
	border:2px;
	border-color: #efefef;
}
a{
	text-decoration:none;
	color: #efefef;
}
nav{
	background-color:#000;
	position: fixed;
	top:0px;
	left:0px;
	margin:0px;
	width:100%;
	z-index:10;
}
